--find-links https://data.pyg.org/whl/torch-2.6.0+cu124.html
torch_scatter==2.1.2+pt26cu124
torch_sparse==0.6.18+pt26cu124
torch_cluster==1.6.3+pt26cu124
torch_spline_conv==1.2.2+pt26cu124
torch-geometric==2.6.0
