cython
numpy
matplotlib
open3d
scikit-learn
tensorboard
tensorflow-cpu==2.15.*
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1
--extra-index-url https://download.pytorch.org/whl/cu116
--find-links https://data.pyg.org/whl/torch-1.13.1+cu116.html
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.2.0