# Core
cython
numpy==2.3.4
matplotlib
open3d==0.19.0
scikit-learn

# Deep Learning
torch==1.13.0
tensorflow
tensorboard

# PyTorch Geometric (for CUDA 11.7)
--find-links https://pytorch-geometric.com/whl/torch-1.13.0+cu117.html
torch-scatter==2.1.0
torch-sparse==0.6.16
torch-cluster==1.6.0
torch-spline-conv==1.2.1
torch-geometric==2.2.0

# Visualization / Web
dash==3.2.0
plotly==6.3.1
Flask==3.1.2
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.0

# Jupyter / Dev
ipython==9.6.0
ipywidgets==8.1.7
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
traitlets==5.14.3
stack-data==0.6.3

# Utility
tqdm==4.67.1
packaging==25.0
typing_extensions==4.15.0
requests==2.32.5
urllib3==2.5.0
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
colorama==0.4.6
attrs==25.4.0
ConfigArgParse==1.7.1

# JSON / Schema
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
referencing==0.37.0
rpds-py==0.27.1
fastjsonschema==2.21.2

# Others
parso==0.8.5
jedi==0.19.2
Pygments==2.19.2
decorator==5.2.1
wcwidth==0.2.14
retrying==1.4.2
platformdirs==4.5.0
zipp==3.23.0
pywin32==311
